@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lilita+One&family=Poppins:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body {
    background: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    background: #fff;
    width: 500px;
    padding: 20px 25px;
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(173, 173, 173, 0.548);
}

header h1 {
    font-size: 30px;
    font-weight: 800;
    color: #262626;
}

header p {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #262626;
}

form input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 20px;
    border-radius: 7px;
    outline: none;
    border: 1px solid #262626;
    font-size: 15px;
}

form button {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: 900;
    background: #262626;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s ease;
}

form button:hover {
    background-color: #fff;
    border: solid 1px #262626;
    color: #262626;
}